<p>
<%= form_for [:admin, @customer] do |f|  %>
	
<div class="field">
		<%= f.label :first_name %><br />
		<%=  f.text_field :first_name %><p>
</div>
<div class="field">
		<%= f.label :last_name %><br />
		<%=  f.text_field :last_name %><p>
</div>
<div class="field">
		<%= f.label :address %><br />
		<%=  f.text_field :address %><p>
</div>
<div class="field">
		<%= f.label :phone %><br />
		<%=  f.text_field :phone %><p>
</div>
<p>
<div class="action">
	<%= f.submit  "Create"%>
</div>
<% end  %>