
<center>
<table border =1>

 <tr>
	<th><b>ID</b></th>	
	<th><b>Customer ID</b></th>
	<th><b>Product ID</b></th>
	<th><b>Price</b></th>
 </tr>

<% @order.each do |order| %>

<tr>
<td><%= order.id %></td>
<td><%= order.customer_id %></td>
<td><%= order.product_id %></td>
<td><%= order.price%></td>
<td><%= link_to 'Edit', edit_admin_order_path(order)%></td>
<td><%= link_to 'Destroy',{:action =>"destroy", :controller=> "admin/orders", :id => order}, confirm: "Are you sure?", method: :delete %></td>
</tr>	

<% end %>

</table>
</center>
<p>
<%= link_to 'New', new_admin_order_path%>
<br>
<%= link_to 'Back', :back %>



